name: GitHub Events to Discord

on:
  push:
  pull_request:
  issues:
  issue_comment:
  release:
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Send to Discord
        uses: DiscordHooks/github-actions-discord-webhook@v1
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
